*{
  font-family: 'Montserrat', sans-serif;
}
.fs-12{
  font-size: 12px;
}
.fs-14{
  font-size: 14px;
}
.col-5 h1{
    color: #77778D;
    cursor: pointer;
 } 
 .section2 span, i{ 
  cursor: pointer;
 }
 
 .section3 .row span{
   color:#939393;
 }
 .button-1 a{
  color: #77778D;
  text-decoration: none; 
  
 }
 .button-1 ul{
  list-style: none;
 }
 .button-1 img{
  width: 20px;
 }
 .button-1{
  border: 1px solid #939393 ;
 }
 
 .xett-1{
  width: 1px;
  border: 1px solid #939393;
  height: 20px;
  align-content: center;


 }
 .text-2{
  border: 1px solid blue;
  border-top: 0;
  border-radius: 5px;
 }
 .text-3{
  border: 1px solid red;
  border-top: 0;
  border-radius: 5px;
 }
 .velosiped {
  text-decoration:line-through;
  
 }
 .endirim{
  color: red;
 }
 .kondisioner{
  text-decoration:line-through;
 }
 .endirim-1{
  color: green;
 }
 
 .mebel{
  text-decoration: line-through;
  
 }
 .endirim-2{
  color: blue;
 }
 .qapi{
  border: 1px solid #b9b9b9;
 }
.col-6 .img{
  border:1px solid #b9b9b9;
  cursor: pointer;
}
.text--1 span{
  border: 1px solid red;
  border-radius: 5px;
  font-size: 10px;
  padding: 1px 6px;
}
.text--2 span{
  border: 1px solid rgb(71, 71, 248);
  border-radius: 5px;
  font-size: 10px;
  padding: 1px 6px;
}
.product-image{
  width: 185px;
  height: 185px;
  max-width: 350px;
  max-height: 350px;
}
.image{
  width: 185px;
  height: 185px;
  max-width: 350px;
  max-height: 350px;
}
.product-title{
  font-size: 15px;
  font-weight: 700;
}
.title{
  font-size: 15px;
  font-weight: 700;
}
.btn-success{
  cursor: pointer;
}
.line{
  color: #77778D;
  height: 5px;
  width: 10px;
}
 .category-menu img{
  object-fit: contain;
 }
 .category-menu a{
   display: flex;
   margin-left: 10px;
   padding-bottom: 15px;
   width: 90%;
   font-size: 14px;
 }
.category-menu li{
  display: flex;
  margin-bottom: 20px;
  position: relative;
}
.category-menu li:last-child{
  margin-bottom: 0;
}
.mega-menu{
  width: 500px;
  background-color: white;
  height: 1000px;
  position: absolute;
  z-index: 9;
  left: 240px;
  top: -10px;
  transform-origin: left;
  transform: scaleX(0);
  transition-duration: 0.4s;
}
.mega-menu ul{
  gap: 1px;
}
.category-menu li:hover .mega-menu{
  transform: scaleX(1);
}
.card{
  width: 250px;
}
.section7{
  background-color: #253444;
}