 .col-5 h1{
    color: #77778D;
    cursor: pointer;
 } 
 .section2 h1, i{ 
  cursor: pointer;
 }
 
 .section3 .row h1{
   color:#939393;
 }
 .button-1 a{
  color: #77778D;
  text-decoration: none; 
  
 }
 .button-1 ul{
  list-style: none;
 }
 .button-1 img{
  width: 20px;
 }
 .button-1{
  border: 1px solid #939393 ;
 }
 .xett{
  border: 1px solid #939393;
  margin: 5px 0px;
 }
 .xett-1{
  width: 1px;
  border: 1px solid #939393;
  height: 20px;
  align-content: center;


 }
 .text-2{
  border: 1px solid blue;
  border-top: 0;
  border-radius: 5px;
 }
 .text-3{
  border: 1px solid red;
  border-top: 0;
  border-radius: 5px;
 }
 .velosiped {
  text-decoration:line-through;
  
 }
 .endirim{
  color: red;
 }
 .kondisioner{
  text-decoration:line-through;
 }
 .endirim-1{
  color: green;
 }
 
 .mebel{
  text-decoration: line-through;
  
 }
 .endirim-2{
  color: blue;
 }
 .qapi{
  border: 1px solid #b9b9b9;
 }
.col-6 .img{
  border:1px solid #b9b9b9;
  cursor: pointer;
}
.text--1{
  border: 1px solid red;
  border-radius: 5px;
  width: 50px;
  height: 22px;
}
.text--2{
  border: 1px solid rgb(71, 71, 248);
  border-radius: 5px;
  height: 25  px;
  
}
.text--2 h1{
font-size: 15px;
}
.btn-success{
  cursor: pointer;
}
 
